@{
    ViewData["Title"] = "Menu";

    List<UsuarioModel> aniversariantes = ViewBag.aniversariantes;
}

<div class="container-fluid">
    @if (this.User.GetSenhaTemp())
    {
        @await Html.PartialAsync("_alertaTrocarSenha")
    }

    <div class="row justify-content-center gap-3 mb-5">

        <!-- PROFESSOR -->
        @if (this.User.GetUserTipoId() < 6)
        {
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <a asp-action="Professor" asp-controller="Menu">
                    <div class="card card-menu shadow py-3" style="min-width: 11rem; height: 10rem">
                        <div class="card-body text-center">
                            <h1><i class="fa-solid fa-graduation-cap"></i></h1>
                            <h6 class="card-title text-uppercase mt-3 text-secondary">PROFESSOR</h6>
                        </div>
                    </div>
                </a>
            </div>
        }


        <!-- ATENDIMENTOS -->
        @if (this.User.GetUserTipoId() < 5 || this.User.GetUserTipoId() == 15)
        {
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <a asp-action="AtendimentosSociais" asp-controller="Menu">
                    <div class="card card-menu shadow py-3" style="min-width: 11rem; height: 10rem">
                        <div class="card-body text-center">
                            <h1>
                                <i class="fa-solid fa-hands-holding-child"></i>
                            </h1>
                            <h6 class="card-title text-uppercase mt-3 text-secondary">ATENDIMENTOS</h6>
                        </div>
                    </div>
                </a>
            </div>
        }


        <!-- CADASTROS -->
        @if (this.User.GetUserTipoId() < 5)
        {
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <a asp-action="Cadastros" asp-controller="Menu">
                    <div class="card card-menu shadow py-3" style="min-width: 11rem; height: 10rem">
                        <div class="card-body text-center">
                            <h1><i class="fa-solid fa-file-lines"></i></h1>
                            <h6 class="card-title text-uppercase mt-3 text-secondary">Cadastros</h6>
                        </div>
                    </div>
                </a>
            </div>
        }


        <!-- RELATÓRIOS -->
        @if (this.User.GetUserTipoId() < 3)
        {
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <a href="#">
                    <div class="card card-menu shadow py-3" style="min-width: 11rem; height: 10rem">
                        <div class="card-body text-center text-secondary">
                            <h1><i class="fa-solid fa-chart-pie"></i></h1>
                            <h6 class="card-title text-uppercase mt-3 text-secondary">RELATÓRIOS (EM BREVE)</h6>
                        </div>
                    </div>
                </a>
            </div>
        }


        <!-- CONFIGURAÇÕES -->
        @if (this.User.GetUserTipoId() == -1)
        {
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <a asp-action="Configuracoes" asp-controller="Menu">
                    <div class="card card-menu shadow py-3" style="min-width: 11rem; height: 10rem">
                        <div class="card-body text-center">
                            <h1><i class="fa-solid fa-gear"></i></h1>
                            <h6 class="card-title text-uppercase mt-3 text-secondary">Configurações</h6>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>



    @await Html.PartialAsync("_aniversariantes", aniversariantes)
</div>

