<option value="1">Domingo</option>
<option value="2">Segunda-feira</option>
<option value="3">Terça-feira</option>
<option value="4">Quarta-feira</option>
<option value="5">Quinta-feira</option>
<option value="6">Sexta-feira</option>
<option value="7">Sábado</option>
